# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Gradle (if using)
.gradle/
build/

# Minecraft
run/
remappedSrc/
